## This file is part of Whonix.
## Copyright (C) 2012 - 2018 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Desktop Entry]
Type=Application
Exec=/usr/lib/gateway-shortcuts/torrcexamples
Name=Tor Examples
GenericName=Tor Configuration Examples
Comment=Show Tor options
Categories=System
Icon=/usr/share/icons/anon-icon-pack/text_x_makefile.ico
Keywords=system;tor;
