## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

#### meta start
#### project Whonix
#### category tor and usability
#### description
#### gateway_only yes
## desktop file
## reload Tor
#### meta end

[Desktop Entry]
Type=Application
Exec=/usr/libexec/helper-scripts/terminal-wrapper /usr/libexec/gateway-shortcuts/reloadtor
Name=Reload Tor
GenericName=Reload Tor
Comment=Reload Tor
Categories=System
Icon=/usr/share/icons/icon-pack-dist/power_restart.ico
Keywords=system;tor;
