## Copyright (C) 2012 - 2022 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

#### meta start
#### project Whonix
#### category tor and usability
#### gateway_only yes
#### description
## desktop file
## stop tor
#### meta end

[Desktop Entry]
Type=Application
Exec=/usr/libexec/helper-scripts/terminal-wrapper /usr/libexec/gateway-shortcuts/stoptor
Name=Stop Tor
GenericName=Stop Tor
Comment=Stop Tor
Categories=System
Icon=/usr/share/icons/icon-pack-dist/Saki-NuoveXT-2-Actions-stop.ico
Keywords=system;tor;
