## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

#### meta start
#### project Whonix
#### category tor and usability
#### gateway_only yes
#### description
## Nyx - Status Monitor for Tor - desktop file for start menu
#### meta end

[Desktop Entry]
Type=Application
Exec=/usr/libexec/helper-scripts/terminal-wrapper /usr/libexec/gateway-shortcuts/nyx
Name=Nyx - Status Monitor for Tor
GenericName=Status Monitor for Tor (Nyx)
Comment=Status Monitor for Tor (Nyx)
Categories=System
Icon=/usr/share/icons/icon-pack-dist/nyx.ico
Keywords=system;tor;controller;Arm;Nyx;
