## Copyright (C) 2012 - 2018 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Desktop Entry]
Type=Application
Exec=/usr/lib/gateway-shortcuts/tordata
Name=Tor Data
GenericName=Tor Data
Comment=Open /var/lib/tor folder in dolphin
Categories=System
Icon=/usr/share/icons/oxygen/64x64/places/folder-green.png
Keywords=system;tor;
