## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

#### meta start
#### project Whonix
#### category tor and usability
#### gateway_only yes
#### description
## desktop file
## Tor Configuration Examples
#### meta end

[Desktop Entry]
Type=Application
Exec=/usr/libexec/gateway-shortcuts/torrcexamples
Name=Tor Examples
GenericName=Tor Configuration Examples
Comment=Show Tor options
Categories=System
Icon=/usr/share/icons/icon-pack-dist/text_x_makefile.ico
Keywords=system;tor;
