[Unit]
Description=Make Sure Torrc Files Exist
Documentation=https://github.com/Whonix/anon-gw-anonymizer-config
Before=tor.service

[Service]
ExecStart=/usr/lib/anon-gw-anonymizer-config/make-sure-torrc-exist

[Install]
WantedBy=multi-user.target
