[Unit]
Description=Make Sure Torrc Files Exist
Documentation=https://github.com/Whonix/anon-gw-anonymizer-config
ConditionPathExists=!/var/run/qubes/this-is-templatevm
Before=tor.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/anon-gw-anonymizer-config/make-sure-torrc-exist

[Install]
WantedBy=multi-user.target
