## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: anon-gw-anonymizer-config
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), faketime, genmkfile, config-package-dev (>= 5.1)
Homepage: https://github.com/Whonix/anon-gw-anonymizer-config
Vcs-Browser: https://github.com/Whonix/anon-gw-anonymizer-config
Vcs-Git: https://github.com/Whonix/anon-gw-anonymizer-config.git
Standards-Version: 3.9.6

Package: anon-gw-anonymizer-config
Architecture: all
## Workaround: Not using versioned 'Depends:' on 'tor'.
## Ideally we would depend on 'tor (>= 0.2.7.3)' because we are using,
## 'KeepAliveIsolateSOCKSAuth' which is not available in earlier versions.
## It would break the build. Debian jessie only has 'tor' '0.2.5'. Which is
## the only available repository at anon-gw-anonymizer install time.
## (1700_install-packages) The Tor Project's deb repository with Tor 0.2.7 is
## added only afterwards. (2300_run-chroot-scripts-post-d) This workaround can
## likely be removed once Whonix is based on Debian stretch.
## https://phabricator.whonix.org/T436
Depends: anon-shared-helper-scripts, tor, sudo, anon-base-files, kwrite,
 konsole, anon-shared-build-apt-sources-tpo, apt-during-apt, ${misc:Depends}
Recommends: control-port-filter-python
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Tor Configuration and Tweaks for Anonymity Distributions
 Tor config file with distribution defaults (for stream isolation, etc.),
 example user configurations and other tweaks required. The Tor binary
 itself does not get modified.
 .
 This package is produced independently of, and carries no guarantee from,
 The Tor Project.
