## Copyright (C) 2012 - 2020 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: anon-gw-anonymizer-config
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 12), config-package-dev, ronn
Homepage: https://github.com/Whonix/anon-gw-anonymizer-config
Vcs-Browser: https://github.com/Whonix/anon-gw-anonymizer-config
Vcs-Git: https://github.com/Whonix/anon-gw-anonymizer-config.git
Standards-Version: 4.3.0

Package: anon-gw-anonymizer-config
Architecture: all
Depends: helper-scripts, tor, sudo, anon-base-files, adduser,
 auditd, vanguards, ${misc:Depends}
Recommends: onion-grater
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Tor Configuration and Tweaks for Anonymity Distributions
 Tor config file with distribution defaults (for stream isolation, etc.),
 example user configurations and other tweaks required. The Tor binary
 itself does not get modified.
 .
 This package is produced independently of, and carries no guarantee from,
 The Tor Project.
