## Copyright (C) 2018 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Unit]
Description=Waits for the network to come up and prepares Tor configuration before Tor startup
Wants=network.target
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/usr/bin/sleep 10
ExecStart=/usr/libexec/anon-gw-anonymizer-config/generate-tor-service-defaults-torrc-anondist

[Install]
WantedBy=multi-user.target
